.form {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 15px;
    margin: 15px;
    background-color: #cd853f;
    border-radius: 20px;
    padding: 5px;
    width: 75%;
}

.form__header {
    font-weight: 700;
    font-size: 22pt;
}

.form__title {
    display: grid;
    justify-items: center;
    width: 75%;
    padding: 15px;
    border-radius: 20px;
    background-color: cornsilk;
}

.form__ingredient {
    display: grid;
    justify-items: center;
    width: 75%;
    padding: 15px;
    border-radius: 20px;
    background-color: cornsilk;
    display: grid;
    justify-content: center;
}

.form__addIngredient--Btn {
    margin-top: 10px;
    justify-self: center;
    width: fit-content;
}

.form__instruction {
    display: grid;
    justify-items: center;
    width: 75%;
    padding: 15px;
    border-radius: 20px;
    background-color: cornsilk;
    display: grid;
    justify-content: center;
}

.form__addInstruction--Btn {
    margin-top: 10px;
    justify-self: center;
    width: fit-content;
}