.form {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 25px;
    background-color: #cd853f;
    margin: 25px;
    border: none;
    border-radius: 25px;
    padding: 25px;
}



.form__header {
    font-weight: 700;
    font-size: 22pt;
}

.form__addTitle--Btn {
    background-color: #fff8dc;
    border: none;
    border-radius: 25px;
}

.form__addTitle--Btn:hover {
    background-color: #e9e0c8;
}