.header {
    background-color: #cd853f;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header__logo {
    display: grid;
    height: 0;
    justify-items: end;
    justify-self: end;
}

.header__logo-image {
    width: 50%;
    margin-top: -5%;
    margin-right: 25%;
}

.header__title {
    color: #2B0000;
    font-family: Century Gothic;
    font-size: 28pt;
    text-align: center;
}

.header__dropdown {
    justify-self: center;
    margin-left: 1em;
    position: relative;
    display: inline-block;
    width: fit-content;
    float: right;
}

.header__dropbtn {
    width: 3em;
}

.header__dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    min-width: 300px;
    background-color: cornsilk;
    border: 0.05cm solid black;
    padding: 3%;
    justify-self: center;
}

.header__dropdown:hover .header__dropdown-content {
    display: block;
    background-color: cornsilk;
}

.header__dropdown:hover .header__dropbtn {
    background-color: peru;
    ;
}