.header {
    background-color: peru;
    border: 0.125cm solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

.header__title {
    justify-self: end;
    padding-right: 15%;
}

.header__dropdown {

}



