.main {
    display: grid;
    justify-content: center;
    margin: 4%;
}

.main__btn {
    font-family: Century Gothic;
    font-weight: 700;
    font-size: 22pt;
    color: #2B0000;
    background-color: peru;
    border: none;
    border-radius: 20px;
    padding: 3%;
    width: fit-content;
}

.main__btn:hover {
    background-color: peru;
}

.main__btn:active {
    background-color: chocolate;
}

.main__recipe {
    font-family: Century Gothic;
    font-weight: 700;
    font-size: 22pt;
    color: cornsilk;
    background-color: cornsilk;
    border: none;
    border-radius: 20px;
    padding: 13%;
    justify-self: center;
    margin-top: 50%;
}

.main__recipeShow{
    color: #2B0000;
    background-color: peru;
}

.main__form {
    display: grid;
}

.main__form-title {

}

