.main {
    display: grid;
    justify-items: center;
    margin: 25px;
}

.main__btn {
    font-family: Century Gothic;
    font-weight: 700;
    font-size: 22pt;
    color: #2B0000;
    background-color: peru;
    border: none;
    border-radius: 1cm;
    padding: 25px;
    width: fit-content;
}

.main__btn:hover {
    background-color: peru;
}

.main__btn:active {
    background-color: chocolate;
}

.main__recipe {
    font-family: Century Gothic;
    font-weight: 700;
    font-size: 18pt;
    color: cornsilk;
    border: none;
    border-radius: 1cm;
    padding: 50px;
    justify-self: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.main__recipeShow{
    color: #2B0000;
    background-color: peru;
}

.main__form {
    display: grid;
}

.main__form-title {

}

