.recipe {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 25px;
    background-color: #cd853f;
    margin: 25px;
    border: none;
    border-radius: 25px;
    padding: 25px;
};