html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    background-color: cornsilk;
}

.logo {
    background-color: aliceblue;
    margin-left: 15px;
    border: 0.125cm solid black;
    padding: 10%;
    border-radius: 150%;
    width: 50%;
    height: 50%;
}
